CONFIG_ATH79=y
CONFIG_ATH79_MACH_ARCHER_C7=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_GPIO_ATH79=y

# Required for compile
CONFIG_MTD=y
CONFIG_NET=y

CONFIG_KEXEC=y

CONFIG_DEVTMPFS=y

# No need for suspend/resume
# CONFIG_SUSPEND is not set

# For detecting USB flash
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_USB_STORAGE=y

# For mounting filesystems
CONFIG_EXT4_FS=y

# LED support
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
